# Gradle
.gradle/
build/
gradle.properties  # Локальные настройки (например, путь к JDK)
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse (если кто-то использует)
.classpath
.project
.settings/
bin/

# NetBeans (если кто-то использует)
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Логи и временные файлы
*.log
*.tmp

# ОС
.DS_Store
Thumbs.db